.cp_custom_nav
    {
        background: #282828;
        color: #fff;
        padding: 0px;
        padding-top: 20px;
        padding-right: 0px !important;
    }

    .cp_custom_nav ul
    {
        width: 100%;
    }
    .cp_custom_nav ul li 
    {
        width: 100%;
        padding: 15px;
        list-style: none;
        color: #fff;
        padding-left: 20px;
        margin: 1px 0px;
    }
    .cp_custom_nav ul li:hover
    {
        background: #F2F2F2;
        border-radius: 3rem 0 0 3rem;
    }
    .cp_custom_nav ul li:hover a
    {        
        color: #000;
    }
    .cp_custom_nav ul li a .fa 
    {
        margin-right: 10px;
    }
    .cp_custom_nav ul li a 
    {
        color: #fff;
        font-size: 16px;
        
    }
    .cp_custom_nav_active
    {
        background: #F2F2F2;
        border-radius: 3rem 0 0 3rem;
        color: #000;
    }
    .cp_custom_nav_active a 
    {
        color: #000 !important;
    }