/*
*{
    margin: 0;
    padding: 0;
}
 body{
    background: url(./bg.jpg) no-repeat center center fixed;
    background-size: cover;
} 
.container{
    position: absolute;
    top: 15%;
    left: 5%;
}
input{
    background: none;
    width: 75%;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 18px; 
}
input{
    outline: none;
    background: none;
}
h1{
    text-align: center;
}
button{
     width: 100%;
}
*/