
input{
    margin-bottom: 10px;
    margin-left: 20px;
    background-color:white;
}

.st1{
    padding: 10px;
    width: 500px;
    margin-top: 15px;
    margin-left: 20px;
    margin-inline-end: 22px;
    text-align: center;
    border-radius: 5px; 
    color:white;
    background-color: rgb(13, 5, 46);
}*/
button{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 15%;
}
form{
    background-color: aliceblue;
    
}
label{
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: medium ;   
}
select{
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    background-color:white;
    text-size-adjust: initial;
    width: 200px;
}
option{
    font-size: small;
    font-family:'Courier New', Courier, monospace;
}

